{% extends "base.html" %}
{% block content %}
<div id="account-management" class="container mt-5 text-center">
  <div class="container text-left">
    <h1>Change Password</h1>
    <div>
      <p>Logged in as: {{ request.user }}</p>
      <p>Hi: {{ request.user.first_name }}, please reset your password below</p>
    </div>
  </div>

  <form method="post" action="" class="w-25 mx-auto">
    {% csrf_token %}
    
    <div class="form-group my-3">
      {{ form.old_password }}
    </div>
    
    <div class="form-group my-3">
      {{ form.new_password1 }}
    </div>
    
    <div class="form-group my-3">
      {{ form.new_password2 }}
    </div>
    
    <div class="container d-flex justify-content-center my-3">
      <button class="btn btn-primary" type="submit">Change Password</button>
    </div>
    
    <!-- Display form errors -->
    {% if form.errors %}
      {% for field in form %}
        {% for error in field.errors %}
          <div class="alert alert-danger my-3 p-1" role="alert">
            {{ error }}
            <box-icon class="icon" type='solid' name='error-circle'></box-icon>
          </div>
        {% endfor %}
      {% endfor %}
    {% endif %}
  </form>

</div>
{% endblock %}