{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10 px-0" id="graphic-container">
        <!-- Image taking up 2/3 of the page -->
        <img src="{% static 'images/graphic.jpeg' %}" alt="background of ships" width="100%" height="100%">
      </div>
      <div class="col-md-2 d-flex justify-content-center flex-column align-items-center" id="register-form">
        <!-- Register form taking up 1/3 of the page -->
        <div class="text-center mt-4 mb-2">
          <div class="image-container">
            <img src="{% static 'images/logo.png' %}" alt="logo" width="50%">
          </div>
          <h2 class="mx-4"> Welcome To PipeClam</h2>
        </div>
        <div className='d-flex flex-column align-items-center register-form-inputs'>
          <form method="POST" action="." class="login-form spacer" id="signup-form">
            {% csrf_token %}
            <div class="input-box">
              {{ form.email }}
              <box-icon class="icon" name='envelope' type='solid' ></box-icon>
            </div>
            <div class="input-box">
              {{ form.first_name }}
              <box-icon class="icon" type='solid' name='user'></box-icon>
            </div>
            <div class="input-box">
              {{ form.last_name }}
              <box-icon class="icon" type='solid' name='user'></box-icon>
            </div>
            <div class="input-box">
              {{ form.password1 }}
              <box-icon class="icon" type='solid' name='lock-alt'></box-icon>
            </div>
            <div class="input-box">
              {{ form.password2 }}
              <box-icon class="icon" type='solid' name='lock-alt'></box-icon>
            </div>
            <div class="container d-flex justify-content-center">
              <input type="Submit" class="submit mb-2 btn btn-primary justify-content-center" value="Sign Up">
            </div>

            {% for field, error in form.errors.items %}
              <div class="alert alert-danger my-3 p-1" role="alert">
                {{ error|striptags }}
                <box-icon class="icon" type='solid' name='error-circle'></box-icon>
              </div>
            {% endfor %}
            <p>
              Already have an account? <a href="{% url 'users:login' %}">Login</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}