/* Variables */
// Mobile
$sidebarWidthOpenMobile: 20%;
$sidebarWidthClosedMobile : 7.5%;
$pageWidthOpenMobile: 80%;
$pageWidthClosedMobile: 92.5%;

// Desktop
$sidebarWidthOpen: 10%;
$sidebarWidthClosed: 1.75%;
$pageWidthOpen: 90%;
$pageWidthClosed: 98.25%;

// Commonly used colors and transitions
$border-color-light: rgb(231, 231, 231);
$border-color-dark: rgb(48, 48, 48);
$transition-duration: 0.25s;