/* Define variables for inline styles */
// MOBILE
$pipeclamSidebarWidthOpenMobile: 50% !important;
$pipeclamSidebarWidthClosedMobile: 10% !important;
$mainContentWidthOpenMobile: 50% !important;
$mainContentWidthClosedMobile: 90% !important;

// DESKTOP
$pipeclamSidebarWidthOpen: 17.5% !important;
$pipeclamSidebarWidthClosed: 1.75% !important;
$mainContentWidthOpen: 82.5% !important;
$mainContentWidthClosed: 98.25% !important;